{% extends 'base.html' %}
{% block title %}
    Школа программирования | Создание студента
{% endblock %}
{% block style %}
    {% include 'inc/inc-style.html' %}
{% endblock %}
{% block menu %}
    {% include 'inc/inc-menu.html' %}
{% endblock %}
{% block body %}
    <div>
        <ul>
            <li>
                <a href="/student-list/">Список студентов</a>
            </li>
            <li>
                <a href="/add-student/">Добавить студента на курс</a>
            </li>
        </ul>
    </div>
    <div>
        <h1>Создание студента</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Имя">
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}