{% extends 'base.html' %}
{% block title %}
Школа программирования
{% endblock %}
{% block menu %}
{% include 'inc/inc-menu.html' %}
{% endblock %}
{% block body %}
<div>
    <a href="/create-category/">Создать новую категорию</a>
</div>
<div>
    <h1>Список существующих категорий</h1>
    <ul>
        {% for item in objects_list %}
        <li>
            {{item.name}}
            <span>Количество курсов: {{item.course_count()}}</span>
            <a href="/courses-list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <hr>
</div>
<div>
    <ul>
        <li>
            <a href="/student-list/">Список студентов</a>
        </li>
        <li>
            <a href="/create-student/">Создать студента</a>
        </li>
        <li>
            <a href="/add-student/">Добавить студента на курс</a>
        </li>
    </ul>
</div>
<h2>Картинка ;-)</h2>
<p><img src="{{ static }}images/chef-3.jpg" alt="какой-то повар"></p>
{% endblock %}